@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3{
    color: #4e79fa;
}

main{
    padding: 7em 0em;
}

.homepage-bg-ab{
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    overflow: hidden;
    top: 0;
    height: 190px;

}